{% extends 'header.html' %}

{% block content %}
  <img id="backgroundimage" src="http://image.hnol.net/c/2008-09/01/03/200809010336274881-1447080.jpg">
  <div class= "row" style="background-color:#efefef; opacity:0.6;position:absolute; bottom:1rem;">
      <div class = "col-xs-3">
      </div>
      <div class="col-xs-6">
      <h1 style="font-family: Arial,'Hiragino Sans GB',STXihei,'Microsoft YaHei',sans-serif">针锋相对工作室</h1>
      <h4 style="font-family: Georgia, 'Times New Roman', 'Microsoft YaHei', '微软雅黑', STXihei, '华文细黑', serif;">
          针锋相对是一家位于哈尔滨南岗区的一家以创作、临摹国画山水与国画写意为主要职能的工作室，
      该工作室是以阿峰，阿珍（笔名）两位画家临摹，创作的和正在构思与创作的50余副作品为基础资源，
      在不断深入学习过程中，对其进行充分的开发与发挥，从而进行国画创作的工作室。</h4> 
      </div>
      <div class = "col-xs-3">
      </div>
</h4>
  </div>
{% endblock %}
